#contenedor {
  display: flex;
  margin: auto;
  margin-top: 55px;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
  justify-content: center;
}
/* .democlass:{
    background-color: black;
} */
nav {
  z-index: 1;
  transition: 0.5s;
  position: fixed;
  top: 0;
  margin-top: 20px;
  width: 100%;
}
/* list */
.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s;
  /* margin-left: 6vw; */
}
/* sdasd */

.items {
  margin-right: 20px;
  font-size: 20px;
  /* text-transform: uppercase; */
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
  /* color: aliceblue !important; */
}
.items:hover {
  transform: scale(1.1);
}

/* siguinte */

.btn {
  display: none;
  position: absolute;
  right: 10px;
  width: 50px;
  top: 10px;
  text-decoration: none;
  padding: 5px;
  color: whitesmoke !important;
  font-size: 18px;
  /* margin-bottom: 25px; */
}
#git {
  position: fixed;
  color: aliceblue;
  left: 20px;
  top: 87vh;
  animation-name: identifier;
  animation-duration: 3s;
  /* animation-delay: ; */
}
#github {
  display: inline-block;
  /* opacity: 0; */
  left: 20px;
  top: 86vh;
  animation-name: github;
  animation-duration: 8s;
}
@keyframes github {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
@keyframes identifier {
  0% {
    top: 0vh;
  }
  10% {
    top: 87vh;
  }
  20% {
    top: 50vh;
  }
  30% {
    top: 87vh;
  }
  40% {
    top: 70vh;
  }
  50% {
    top: 87vh;
  }
  60% {
    top: 80vh;
  }
  70% {
    top: 87vh;
  }
  80% {
    top: 82vh;
  }
  100% {
    top: 87vh;
    display: block;
  }
}

/*  */
@media screen and (max-width: 640px) {
  nav {
    position: initial;
    margin-top: -2px;
    display: block;
    background-color: black !important;
    transition: 1.6s;
  }
  #git {
    display: none;
    /* opacity: 0; */
    left: 20px;
    top: 86vh;
  }
  .list {
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    margin: 0;
    transition: 1.6s;
  }
  .items {
    width: 100%;
    border-bottom: 1px solid rgb(207, 185, 185);
    text-align: center;
    margin-right: Opx;
    padding: 20px 0;
    color: blanchedalmond !important;
    font-weight: bold;
  }
  .btn {
    display: block;
    transition: 1.6s;
  }
}
